$navBgColor: #fefefe;
$bodyBgColor: #f7f7f7;
$textColor: #434343;
$textColorGray: rgba($color: black, $alpha: 0.4);
$navBarHeight: 80px;

$primaryColor: rgb(235, 175, 65);
$gray: rgba($color: black, $alpha: 0.6)
