@use "../../styles/constants" as c;
@use "../../styles/mixins" as *;

.title {
  flex-grow: 1;
  font-size: 18px;

  @include tablet {
    font-size: 25px;
  }

  @include desktop {
    font-size: 40px;
  }

  & > * {
    margin-right: 7px;

    @include tablet {
      margin-right: 10px;
    }

    @include desktop {
      margin-right: 15px;
    }
  }
}
